@mixin rootGrid($direction, $alignment-property, $alignment-value) {
    #root {
        display: flex;
        flex-direction: $direction;
        #{$alignment-property}: $alignment-value;
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-width: 1200px) {
    @include rootGrid(column, align-items, center);

    .container__first {
        border: none;
        padding: 0px;
        width: 100%;
    }
    .container__second {
        width: 100%;
    }
    .today{
        width: 70vw;
    }
}
@media screen and (min-width: 1200px) {
    @include rootGrid(row, justify-content, space-around);
    .container__first{
        width:100vw;
    }
    .today{
        width:80%
    }
    .container__second {
        width: 50%;
        min-width: 700px;
        max-width: 1150px;
    }
}
